<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.CourseMapper">
	
	<!-- 게시판 부분 -->
	<select id="getCoursePage" resultType="CourseDTO">
		SELECT oli.oli_no, oli.olt_no, oli.title, oli.content, oli.img_path, oli.price, oli.level,
	        TRUNCATE((SELECT AVG(star_rating) FROM online_lecture_reply olr WHERE olr.oli_no = oli.oli_no),0) star_avg,
			(SELECT COUNT(*) FROM online_lecture_like oll WHERE oli.oli_no = oll.oli_no) like_cnt,
	        (SELECT COUNT(*) FROM online_lecture_reply olr WHERE olr.oli_no = oli.oli_no) reply_cnt
		
		<include refid="search"></include>
		GROUP BY oli.oli_no
		<choose>
			<when test='order == null'>
				ORDER BY oli.oli_no DESC
			</when>
		
			<when test='order.equals("like")'>
				ORDER BY like_cnt DESC
			</when>
			
			<when test='order.equals("reply")'>
				ORDER BY reply_cnt DESC
			</when>
			
			<when test='order.equals("star")'>
				ORDER BY star_avg DESC
			</when>
			
			<when test='order.equals("price")'>
				ORDER BY price
			</when>
			
			<otherwise>
				ORDER BY oli.oli_no DESC
			</otherwise>
		</choose>
		LIMIT #{page}, #{pageSize}
	</select>
	
	<select id="getCourseTotalCount" resultType="int">
		SELECT count(DISTINCT oli.oli_no)
		<include refid="search"></include>
	</select>
	
	<sql id="search">
		FROM online_lecture_introduction oli, online_lecture_tag oltag, online_lecture_sub_type olst, online_lecture_request olr
		WHERE oli.oli_no = oltag.oli_no AND oli.oli_no = olst.oli_no AND enable = 1 AND oli.oli_no = olr.oli_no
			AND olr.approval_status = 1 AND oli.origin = 1
		<if test="searchTitle != null">
			AND oli.title LIKE '%${searchTitle}%'
		</if>
		 
		<if test='main_type_abbr != null'>
			<choose>
				<when test='sub_type_abbr == null and main_type_abbr != null'>
					AND olst.sub_type_no IN (SELECT sub_type_no FROM sub_type 
											 WHERE main_type_no = (SELECT main_type_no FROM main_type 
											 					   WHERE main_type_abbr = #{main_type_abbr}))
				</when>
				
				<when test='sub_type_abbr != null'>
					AND olst.sub_type_no = (SELECT sub_type_no FROM sub_type 
								 WHERE sub_type_abbr = #{sub_type_abbr})
				</when>
			</choose>
		</if>
		<if test="tags != null">
			AND
			<foreach collection="tags" item="tag" separator="OR" open="(" close=")" >
				 oltag.tag_no = (SELECT tag_no FROM tag WHERE tag_abbr = #{tag})
			</foreach>
			
		</if>
		
		<if test="level != null">
			AND oli.level = #{level} 
		</if>
		
		<if test="charge != null">
			<if test="charge.equals('free')">
				AND oli.price = 0
			</if>
			<if test="charge.equals('paid')">
				AND oli.price > 0
			</if>
		</if>
	</sql>
	
	<!-- 태그 부분 -->
	
	<select id="getCourseTags" resultType="CourseTagDTO">
		SELECT *
		FROM online_lecture_tag
		WHERE oli_no = #{oli_no}
	</select>
	
	<insert id="submitCourseTag">
		INSERT INTO online_lecture_tag (oli_no, tag_no)
		VALUES(#{oli_no}, #{tag_no})
	</insert>
	
	<delete id="deleteCourseTag">
		DELETE FROM online_lecture_tag
		WHERE oli_no = #{oli_no}
	</delete>
	
	<!-- 좋아요 부분 -->
	<select id="getCourseLikeCount" resultType="int">
		SELECT COUNT(*)
		FROM online_lecture_like
		WHERE oli_no = #{oli_no}
	</select>
	
	<insert id="insertCourseLike">
		INSERT INTO online_lecture_like (oli_no, m_no)
		SELECT #{oli_no}, #{m_no}
		WHERE NOT EXISTS (SELECT m_no FROM online_lecture_like WHERE oli_no = #{oli_no} AND m_no = #{m_no})
	</insert>
	
	<delete id="deleteCourseLike">
		DELETE FROM online_lecture_like
		WHERE oli_no = #{oli_no} AND m_no = #{m_no} 
	</delete>
	
	<select id="existCourseLike" resultType="int">
		SELECT EXISTS(SELECT * FROM online_lecture_like WHERE oli_no = #{oli_no} AND m_no = #{m_no})
	</select>
	
	<!-- 강의 페이지 부분 -->
	<!-- 강의 상세 페이지 가져오기 -->
	<select id="getCourseDetail" resultType="CourseDTO">
		SELECT *
		FROM online_lecture_introduction
		WHERE enable = 1 AND oli_no = #{oli_no}
	</select>
	
	<!-- 강의 등록 -->
	<insert id="submitCourse" useGeneratedKeys="true" keyProperty="oli_no">
		INSERT INTO online_lecture_introduction(olt_no, title, introduction, content, img_path, price, level, reg_date, update_date, enable, origin) 
		VALUES(#{olt_no}, #{title}, #{introduction}, #{content}, #{img_path}, #{price}, #{level}, NOW(), #{update_date}, #{enable}, #{origin})
	</insert>
	
	<!-- 강의 수정 -->
	<update id="updateCourse">
		UPDATE online_lecture_introduction
		SET 
			olt_no = #{olt_no},
			title = #{title},
			introduction = #{introduction},
			content = #{content},
			img_path = #{img_path},
			price = #{price},
			level = #{level},
			update_date = #{update_date},
			enable = #{enable}
		WHERE oli_no = #{oli_no}
	</update>
	
	<!-- 강의 삭제 -->
	<delete id="deleteCourse">
		DELETE FROM online_lecture_introduction
		WHERE oli_no = #{oli_no}
	</delete>
	
	<!-- 수강평 부분 -->
	<select id="getCourseReplys" resultType="CourseReplyDTO">
		SELECT *
		FROM online_lecture_reply
		WHERE oli_no = #{oli_no}
	</select>
	
	<insert id="submitReply">
		INSERT INTO online_lecture_reply (oli_no, m_no, star_rating, content, reg_date)
		VALUES(#{oli_no}, #{m_no}, #{star_rating}, #{content}, #{reg_date})
	</insert>
	
	
	<!-- 강의 영상 부분 -->
	
	<insert id="submitCourseVideo">
		INSERT INTO online_lecture_video (oli_no, title, s_file_name)
		VALUES(#{oli_no}, #{title}, #{s_file_name})
	</insert>
	
	<select id="getCourseVideoList" resultType="CourseVideoDTO">
		SELECT *
		FROM online_lecture_video
		WHERE oli_no = #{oli_no}
		ORDER BY olv_no
	</select>
	
	<select id="getCourseVideo" resultType="CourseVideoDTO">
		SELECT *
		FROM online_lecture_video
		WHERE olv_no = #{olv_no}
	</select>
	
	<delete id="deleteCourseVideo">
		DELETE FROM online_lecture_video
		WHERE oli_no = #{oli_no}
	</delete>
	
	<!-- 카테고리 부분 -->
	<select id="getCourseSubTypeList" resultType="CourseSubTypeDTO">
		SELECT *
		FROM online_lecture_sub_type
		WHERE oli_no = #{oli_no}
	</select>
	
	<insert id="insertCourseSubType">
		INSERT INTO online_lecture_sub_type (oli_no, sub_type_no)
		VALUES(#{oli_no}, #{sub_type_no})
	</insert>
	
	<delete id="deleteCourseSubType">
		DELETE FROM online_lecture_sub_type
		WHERE oli_no = #{oli_no}
	</delete>
	
	
	<!-- 강의 요청 부분 -->
	<select id="selectListPendingCourseRequest" resultType="HashMap">
		SELECT olr_no, olr.oli_no, olr.origin_oli_no, olt.name AS teacher_name, oli.title AS course_title, request_datetime 
		<include refid="pendingCourseRequestSQL" />
		ORDER BY request_datetime
		LIMIT #{nowPage}, #{pageSize}
	</select>
	
	<select id="getPendingCoursesCount" resultType="int">
		SELECT COUNT(*)
		<include refid="pendingCourseRequestSQL" />
	</select>
	
	<sql id="pendingCourseRequestSQL">
		FROM online_lecture_request olr, online_lecture_teacher olt, online_lecture_introduction oli
		WHERE olr.oli_no = oli.oli_no AND olt.olt_no = oli.olt_no
			AND olr.approval_status = 0
		
		<if test="searchCategory != null">
			AND
			<choose>
				<when test="searchCategory.equals('course_title')">
					oli.title LIKE '%${search}%'
				</when>
				
				<when test="searchCategory.equals('teacher_name')">
					olt.name LIKE '%${search}%'
				</when>
				
				<when test="searchCategory.equals('teacher_email')">
					olt.email LIKE '%${search}%'
				</when>
				
				<otherwise>
					oli.title LIKE '%${search}%'
				</otherwise>
			</choose>
		</if>
	</sql>
	
	<select id="selectOneCourseRequest" resultType="CourseRequestDTO">
		SELECT * FROM online_lecture_request
		WHERE olr_no = #{olr_no}
	</select>
	
	<select id="getCourseRequestByOli_no" resultType="courseRequestDTO">
		SELECT * FROM online_lecture_request
		WHERE oli_no = #{oli_no}
	</select>
	
	<insert id="insertCourseRequest">
		INSERT INTO online_lecture_request(oli_no, origin_oli_no, approval_status, rejection_message, request_datetime)
		VALUES(#{oli_no}, #{origin_oli_no}, #{approval_status}, #{rejection_message}, NOW())
	</insert>
	
	<update id="updateCourseRequest">
		UPDATE online_lecture_request
		SET
			oli_no = #{oli_no},
			origin_oli_no = #{origin_oli_no},
			approval_status = #{approval_status},
			rejection_message = #{rejection_message},
			request_datetime = #{request_datetime}
		WHERE olr_no = #{olr_no}
	</update>
	
	<delete id="deleteCourseRequest">
		DELETE FROM online_lecture_request
		WHERE olr_no = #{olr_no}
	</delete>
</mapper>