<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mappers.HistoryOrderMapper">
	
	<!-- 강의 -->
	
	<!-- 강의 구매 내역 -->
	<select id="myPurcaseCourses" resultType="HashMap">
		select hol.oli_no, hol.m_no, hol.payment, hol.payment_date,
				oli.oli_no, oli.title, oli.img_path, oli.price
		from history_order_lecture hol, online_lecture_introduction oli
		where hol.m_no = #{m_no} and hol.oli_no = oli.oli_no
		group by hol.oli_no
		order by hol.payment_date desc
	</select>
	
	<!-- 관심 강의 내역 -->
	<select id="myInterestCourses" resultType="HashMap">
		select 	oli.oli_no, oli.title, oli.img_path, oli.price, oll.reg_date
		from online_lecture_introduction oli, online_lecture_like oll
		where oll.m_no = #{m_no} and oll.oli_no = oli.oli_no
		group by oll.oli_no
		order by oll.reg_date desc
	</select>
	
	<!-- 내 강의 목록 -->
	<select id="searchMyPurcaseCourses" resultType="HashMap">
		select hol.oli_no, hol.m_no, hol.payment, hol.payment_date,
				oli.oli_no, oli.title, oli.img_path, oli.price, 
				TRUNCATE((SELECT AVG(star_rating) FROM online_lecture_reply olr WHERE olr.oli_no = oli.oli_no),0) star_avg
		from history_order_lecture hol, online_lecture_introduction oli
		where hol.m_no = #{m_no} and hol.oli_no = oli.oli_no and oli.title LIKE concat('%', #{keyword}, '%')
		group by hol.oli_no
		order by hol.payment_date desc
	</select>
	
	<!-- 강의 구매 기록에 추가 -->
	<insert id="insertHistoryOrderLecture">
		INSERT INTO history_order_lecture(oli_no, m_no, payment, payment_status)
		VALUES(#{oli_no}, #{m_no}, #{payment}, #{payment_status})
	</insert>
	
	<!-- 강의 구매 기록 리스트 가져오기 -->
	<select id="getHistoryOrderLectureListByOli_no" resultType="HistoryOrderLectureDTO">
		SELECT * FROM history_order_lecture
		WHERE oli_no = #{oli_no}
	</select>
	
	<!-- 강의 구매 기록 가져오기 -->
	<select id="getHistoryOrderLectureByOli_noM_no" resultType="HistoryOrderLectureDTO">
		SELECT * FROM history_order_lecture
		WHERE oli_no = #{oli_no} AND m_no = #{m_no}
	</select>
	
	<!-- 오늘부터 6일전까지의 강의 주문내역 합계 가져오기 -->
	<select id="getCourseOrderBy7Days" resultType="HashMap">
		SELECT b.payment_date, IFNULL(a.total, 0) AS totalPayment
		FROM
			( 
				SELECT payment_date, sum(payment) total 
				FROM history_order_lecture 
				WHERE payment_date BETWEEN DATE_ADD(CURDATE(), INTERVAL -6 DAY) AND CURDATE()
				GROUP BY payment_date
			) a  
			RIGHT JOIN
			( 
				SELECT payment_date FROM 
				(select adddate('1970-01-01',t4.i*10000 + t3.i*1000 + t2.i*100 + t1.i*10 + t0.i) payment_date from
					(select 0 i union select 1 union select 2 union select 3 union select 4 union select 5 union select 6 union select 7 union select 8 union select 9) t0,
					(select 0 i union select 1 union select 2 union select 3 union select 4 union select 5 union select 6 union select 7 union select 8 union select 9) t1,
					(select 0 i union select 1 union select 2 union select 3 union select 4 union select 5 union select 6 union select 7 union select 8 union select 9) t2,
					(select 0 i union select 1 union select 2 union select 3 union select 4 union select 5 union select 6 union select 7 union select 8 union select 9) t3,
					(select 0 i union select 1 union select 2 union select 3 union select 4 union select 5 union select 6 union select 7 union select 8 union select 9) t4) v
			where payment_date BETWEEN DATE_ADD(CURDATE(),INTERVAL -6 DAY) AND CURDATE()
			) b ON a.payment_date = b.payment_date 
			ORDER BY b.payment_date ASC
	</select>
	
	<!-- 노트 -->
	
	<!-- 노트 구매 내역 -->
	<select id="myPurcaseNotes" resultType="HashMap">
		select hon.hon_no, hon.n_no, hon.m_no, hon.payment, hon.payment_date,
				n.m_no, n.title,
				TRUNCATE((SELECT AVG(star_rating) FROM note_reply nr WHERE nr.n_no = n.n_no),0) star_avg,
				(SELECT m.m_name FROM member m WHERE n.m_no = m.m_no) m_name
		from history_order_note hon, note n, member m
		where hon.m_no = #{m_no} and hon.n_no = n.n_no
		group by hon.hon_no
		order by hon.payment_date desc
	</select>
	
	<!-- 노트 관심 내역 -->
	<select id="myInterestNotes" resultType="HashMap">
		select 	n.n_no, n.m_no, n.title, nl.n_no, nl.m_no, nl.reg_date
		from note n, note_like nl
		where nl.m_no = #{m_no} and n.n_no = nl.n_no
		group by n.n_no
	</select>
	
	<!-- 노트 구매 기록에 추가 -->
	<insert id="insertHistoryOrderNote">
		INSERT INTO history_order_note(n_no, m_no, payment, payment_status)
		VALUES(#{n_no}, #{m_no}, #{payment}, #{payment_status})
	</insert>
	
	<!-- 노트 구매 기록 가져오기 -->
	<select id="getHistoryOrderNoteByN_no" resultType="HistoryOrderNoteDTO">
		SELECT * FROM history_order_note
		WHERE n_no = #{n_no}
	</select>
	
	<!-- 노트 구매 기록 가져오기 -->
	<select id="getHistoryOrderNoteByN_noM_no" resultType="HistoryOrderNoteDTO">
		SELECT * FROM history_order_note
		WHERE n_no = #{n_no} AND m_no = #{m_no}
	</select>
	
	<!-- 오늘부터 6일전까지의 노트 주문내역 합계 가져오기 -->
	<select id="getNoteOrderBy7Days" resultType="HashMap">
		SELECT b.payment_date, IFNULL(a.total, 0) AS totalPayment
		FROM
			( 
				SELECT payment_date, sum(payment) total 
				FROM history_order_note
				WHERE payment_date BETWEEN DATE_ADD(CURDATE(), INTERVAL -6 DAY) AND CURDATE()
				GROUP BY payment_date
			) a  
			RIGHT JOIN
			( 
				SELECT payment_date FROM 
				(select adddate('1970-01-01',t4.i*10000 + t3.i*1000 + t2.i*100 + t1.i*10 + t0.i) payment_date from
					(select 0 i union select 1 union select 2 union select 3 union select 4 union select 5 union select 6 union select 7 union select 8 union select 9) t0,
					(select 0 i union select 1 union select 2 union select 3 union select 4 union select 5 union select 6 union select 7 union select 8 union select 9) t1,
					(select 0 i union select 1 union select 2 union select 3 union select 4 union select 5 union select 6 union select 7 union select 8 union select 9) t2,
					(select 0 i union select 1 union select 2 union select 3 union select 4 union select 5 union select 6 union select 7 union select 8 union select 9) t3,
					(select 0 i union select 1 union select 2 union select 3 union select 4 union select 5 union select 6 union select 7 union select 8 union select 9) t4) v
			where payment_date BETWEEN DATE_ADD(CURDATE(),INTERVAL -6 DAY) AND CURDATE()
			) b ON a.payment_date = b.payment_date 
			ORDER BY b.payment_date ASC
	</select>
</mapper>