<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mappers.indexCourseMapper">
	
	<!-- index 강의 띄우기 start -->
	<!-- 이 주의 강의 -->
	<select id="thisweek_bestCourseList" resultType="HashMap">
		select oli.oli_no, oli.title, oli.olt_no, oli.content, oli.price, oli.img_path, oli.reg_date,
				TRUNCATE((SELECT AVG(star_rating) FROM online_lecture_reply olr WHERE olr.oli_no = oli.oli_no),0) star_avg,
				(SELECT COUNT(*) FROM online_lecture_like oll WHERE oli.oli_no = oll.oli_no) as good
		from online_lecture_introduction oli
		where oli.reg_date >= DATE_ADD(NOW(),INTERVAL -1 WEEK) and (SELECT COUNT(*) FROM online_lecture_like oll WHERE oli.oli_no = oll.oli_no) >= 1
		order by good desc
		limit 0,8
	</select>
	
	<!-- 신규 강의 -->
	<select id="thisweek_newCourseList" resultType="HashMap">
		select oli.oli_no, oli.title, oli.olt_no, oli.content, oli.price, oli.img_path, oli.reg_date,
				TRUNCATE((SELECT AVG(star_rating) FROM online_lecture_reply olr WHERE olr.oli_no = oli.oli_no),0) star_avg
		from online_lecture_introduction oli
		where oli.reg_date >= DATE_ADD(NOW(),INTERVAL -1 WEEK) AND oli.origin = 1
		order by oli.reg_date desc
		limit 0,8
	</select>
	<!-- index 강의 띄우기 end -->
	
	<!-- 이 주의 노트 -->
	<select id="thisweek_bestNoteList" resultType="HashMap">
		select n.n_no, n.oli_no, n.m_no, n.title, n.content, n.price, n.reg_date, n.classify,
			TRUNCATE((SELECT AVG(star_rating) FROM note_reply nr WHERE nr.n_no = n.n_no),0) star_avg,
			(SELECT COUNT(*) FROM note_like nl WHERE nl.n_no = n.n_no) like_cnt,
			(SELECT m.m_name FROM member m WHERE n.m_no = m.m_no) m_name
		from note n, note_like nl
		where n.reg_date >= DATE_ADD(NOW(),INTERVAL -1 WEEK) and (SELECT COUNT(*) FROM note_like nl WHERE n.n_no = nl.n_no) >= 1
		group by n.n_no
		order by like_cnt desc
		limit 0,4
	</select>
</mapper>