<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mappers.indexCourseMapper">
	
	<!-- index 강의 띄우기 start -->
	<!-- 이 주의 강의 -->
	<select id="thisweek_bestCourseList" resultType="com.spring.ex.dto.CourseDTO">
		select title, olt_no, content, price, img_path, reg_date
		from online_lecture_introduction olt
		where reg_date >= DATE_ADD(NOW(),INTERVAL -1 WEEK) and o_like >= 20
		order by o_like desc
		limit 0,8
	</select>
	
	<!-- 신규 강의 -->
	<select id="thisweek_newCourseList" resultType="com.spring.ex.dto.CourseDTO">
		select title, olt_no, content, price, img_path, reg_date
		from online_lecture_introduction
		where reg_date >= DATE_ADD(NOW(),INTERVAL -1 WEEK)
		order by reg_date desc
		limit 0,8
	</select>
	<!-- index 강의 띄우기 end -->
</mapper>