<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mappers.orderHistoryMapper">
	
	<!-- 강의 구매 내역 -->
	<select id="myPurcaseCourses" resultType="HashMap">
		select hol.oli_no, hol.m_no, hol.payment, hol.payment_date,
				oli.oli_no, oli.title, oli.img_path, oli.price, olt.name
		from history_order_lecture hol, online_lecture_introduction oli, online_lecture_teacher olt
		where hol.m_no = #{m_no} and hol.oli_no = oli.oli_no
		group by hol.oli_no
		order by hol.payment_date desc
	</select>
	
	<!-- 관심 강의 내역 -->
	<select id="myInterestCourses" resultType="HashMap">
		select 	oli.oli_no, oli.title, oli.img_path, oli.price, olt.name, oll.reg_date
		from online_lecture_introduction oli, online_lecture_teacher olt, online_lecture_like oll
		where oll.m_no = #{m_no} and oll.oli_no = oli.oli_no
		group by oll.oli_no
		order by oll.reg_date desc
	</select>
	
	<!-- 내 강의 목록 -->
	<select id="searchMyPurcaseCourses" resultType="HashMap">
		select hol.oli_no, hol.m_no, hol.payment, hol.payment_date,
				oli.oli_no, oli.title, oli.img_path, oli.price, olt.name, 
				TRUNCATE((SELECT AVG(star_rating) FROM online_lecture_reply olr WHERE olr.oli_no = oli.oli_no),0) star_avg
		from history_order_lecture hol, online_lecture_introduction oli, online_lecture_teacher olt
		where hol.m_no = #{m_no} and hol.oli_no = oli.oli_no and oli.title LIKE concat('%', #{keyword}, '%')
		group by hol.oli_no
		order by hol.payment_date desc
	</select>
	
	<!-- 노트 구매 내역 -->
	<select id="myPurcaseNotes" resultType="HashMap">
		select hon.hon_no, hon.n_no, hon.m_no, hon.payment, hon.payment_date,
				n.m_no, n.title,
				TRUNCATE((SELECT AVG(star_rating) FROM note_reply nr WHERE nr.n_no = n.n_no),0) star_avg,
				(SELECT m.m_name FROM member m WHERE n.m_no = m.m_no) m_name
		from history_order_note hon, note n, member m
		where hon.m_no = #{m_no} and hon.n_no = n.n_no
		group by hon.hon_no
		order by hon.payment_date desc
	</select>
	
	<!-- 노트 강의 내역 -->
	<select id="myInterestNotes" resultType="HashMap">
		select 	n.n_no, n.m_no, n.title, nl.n_no, nl.m_no, nl.reg_date
		from note n, note_like nl
		where nl.m_no = #{m_no} and n.n_no = nl.n_no
		group by n.n_no
	</select>
	
</mapper>