<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.RequestCourseMapper">

	<!-- ======== 강의 부분 ======== -->
	
	<insert id="insertRequestCourse">
		INSERT INTO request_online_lecture_introduction (olt_no, oli_no, title, introduction, content, img_path, price, `level`, req_date, approval, rejection_message)
		VALUES(#{olt_no}, #{oli_no}, #{title}, #{introduction}, #{content}, #{img_path}, #{price}, #{level}, #{req_date}, #{approval}, #{rejection_message});
	</insert>
	
	<update id="updateRequestCourse">
		UPDATE request_online_lecture_introduction
		SET
			title = #{title},
			introduction = #{introduction},
			content = #{content},
			img_path = #{img_path},
			price = #{price},
			`level` = #{level},
			approval = #{approval},
			rejection_message = #{rejection_message}
		WHERE olr_no = #{olr_no}
	</update>
	
	<select id="selectOneRequestCourse" resultType="RequestCourseDTO">
		SELECT * FROM request_online_lecture_introduction
		WHERE olr_no = #{olr_no}
	</select>
	
	<select id="selectListRequestCourse" resultType="RequestCourseDTO">
		SELECT * FROM request_online_lecture_introduction
		<if test="approval != null">
			WHERE approval = #{approval}
		</if>
	</select>
	
	
	<!-- ======== 강의 서브 카테고리 부분 ======== -->
	
	<select id="getRequestCourseSubTypeList" resultType="RequestCourseSubTypeDTO">
		SELECT *
		FROM request_online_lecture_sub_type
		WHERE roli_no = #{roli_no}
	</select>
	
	<insert id="insertRequestCourseSubType">
		INSERT INTO request_online_lecture_sub_type (roli_no, sub_type_no)
		VALUES(#{roli_no}, #{sub_type_no})
	</insert>
	
	<delete id="deleteRequestCourseSubType">
		DELETE FROM request_online_lecture_sub_type
		WHERE roli_no = #{roli_no}
	</delete>
	
	
	<!-- ======== 강의 태그 부분 ======== -->
	
	<select id="getRequestCourseTags" resultType="RequestCourseTagDTO">
		SELECT *
		FROM request_online_lecture_tag
		WHERE roli_no = #{roli_no}
	</select>
	
	<insert id="submitRequestCourseTag">
		INSERT INTO request_online_lecture_tag (roli_no, tag_no)
		VALUES(#{roli_no}, #{tag_no})
	</insert>
	
	<delete id="deleteRequestCourseTag">
		DELETE FROM request_online_lecture_tag
		WHERE roli_no = #{roli_no}
	</delete>
	
	
	<!-- ======== 강의 비디오 부분 ======== -->
	
	<insert id="submitRequestCourseVideo">
		INSERT INTO request_online_lecture_video (roli_no, title, s_file_name)
		VALUES(#{roli_no}, #{title}, #{s_file_name})
	</insert>
	
	<select id="getRequestCourseVideoList" resultType="RequestCourseVideoDTO">
		SELECT *
		FROM request_online_lecture_video
		WHERE roli_no = #{roli_no}
		ORDER BY rolv_no
	</select>
	
	<select id="getRequestCourseVideo" resultType="RequestCourseVideoDTO">
		SELECT *
		FROM request_online_lecture_video
		WHERE rolv_no = #{rolv_no}
	</select>
	
	<delete id="deleteRequestCourseVideo">
		DELETE FROM request_online_lecture_video
		WHERE roli_no = #{roli_no}
	</delete>
</mapper>