<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.UploadedFileMapper">
	<insert id="insertFile">
		INSERT INTO uploaded_file 
		VALUES(#{content_no}, #{category}, #{url})
	</insert>
	
	<delete id="deleteFile">
		DELETE FROM uploaded_file
		WHERE url = #{url}
	</delete>
	
	<select id="selectFileList" resultType="UploadedFileDTO">
		SELECT * FROM uploaded_file
		WHERE content_no = #{content_no} AND
			  category = #{category}
	</select>
</mapper>