.rightMenubar {
    padding-top: 10px;
    width: 70px;
    top: 0;
    right: 0;
    float: right;
    background-color: rgb(242, 242, 242);
    display: block;
}

.rightMenubar button{
    padding:5px;
    padding-bottom: 15px;
    margin: auto;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
    border: 0;
    outline: 0;
}

.rightMenubar button:hover {
    color: #1f1f1f;
}

.slidebar {
    width: 0px;
    top: 0;
    right: 0px;
    float: right;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    overflow: hidden;
}

.slidebar .content {
	overflow: hidden;
	position: relative;
}

.slidebar .content:hover {
	background-color: #e6e6e6;
	transition: 0.2s;
}

.slidebar .notSelected > *{
	opacity: 0.5;
}

.slidebar .selected{
	background-color: rgb(238,248,249);
}

.slidebar .selected > * {
	font-size: 1.25rem;
	font-weight: 600;
}

#closeBtn {
	color:rgb(0,0,0);
}


#main {
    transition: 0.5s;
}

.footer {
    margin-top: auto;
    bottom: 0;
    background-color: #5e5e5e;
}

a {
	text-decoration: none;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}